{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main>
    <h1>Список сторінок</h1>
    <p>Щось я тут написав</p>

    <div class="row g-3">
            <div class="col-1">
                <a type="button" href="/car" class=" mb-3 btn btn-primary">Car</a>
                <a type="button" href="/education" class=" mb-3 btn btn-primary">Education</a>
                <a type="button" href="/facebook" class=" mb-3 btn btn-primary">Facebook</a>
                <a type="button" href="/mac" class=" mb-3 btn btn-primary">Mac</a>
                <a type="button" href="/skills" class=" mb-3 btn btn-primary">Skills</a>
                <a type="button" href="/summary" class=" mb-3 btn btn-primary">Summary</a>
                <a type="button" href="/task21" class=" mb-3 btn btn-primary">Task21</a>
                <a type="button" href="/task22" class=" mb-3 btn btn-primary">Task22</a>
                <a type="button" href="/work" class=" btn btn-primary">Work</a>
            </div>
    </div>

</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}